<h1> "Greetings <%=@player1.name%> and <%=@player2.name%>. Get Ready to Battle </h1>

  <h2> "<%=@player1.name%> has <%=@hp1%> hitpoints" </h2>
  <h2> "<%=@player2.name%> has <%=@hp2%> hitpoints" </h2>
<form action = '/attack'>
  <button type='submit' value="Attack">Attack!
  </button>
</form>
