<h1> "Greetings <%=@game.player1.name%> and <%=@game.player2.name%>. Get Ready to Battle </h1>

  <h2> "<%=@game.player1.name%> has <%=@game.player1.hit_points%> hitpoints" </h2>
  <h2> "<%=@game.player2.name%> has <%=@game.player2.hit_points%> hitpoints" </h2>
<form action = '/attack'>
  <button type='submit' value="Attack">Attack!
  </button>
</form>
